@using System.Diagnostics.Eventing.Reader
@using RyanNickMasteryProject.Repositories
@model LmsUser

@{
    var listItems2 = new List<SelectListItem>
    {
        new SelectListItem {Text = "", Value = ""},
        new SelectListItem {Text = "K", Value = "1"},
        new SelectListItem {Text = "1st Grade", Value = "2"},
        new SelectListItem {Text = "2nd Grade", Value = "3"},
        new SelectListItem {Text = "3rd Grade", Value = "4"},
        new SelectListItem {Text = "4th Grade", Value = "5"},
        new SelectListItem {Text = "5th Grade", Value = "6"},
        new SelectListItem {Text = "6th Grade", Value = "7"},
        new SelectListItem {Text = "7th Grade", Value = "8"},
        new SelectListItem {Text = "8th Grade", Value = "9"},
        new SelectListItem {Text = "9th Grade", Value = "10"},
        new SelectListItem {Text = "10th Grade", Value = "11"},
        new SelectListItem {Text = "11th Grade", Value = "12"},
        new SelectListItem {Text = "12th Grade", Value = "13"}
    };


    var listItems = new List<SelectListItem>
    {
        new SelectListItem {Text = "Admin", Value = "2"},
        new SelectListItem {Text = "Teacher", Value = "1"},
        new SelectListItem {Text = "Parent", Value = "3"},
        new SelectListItem {Text = "Student", Value = "4"}
    };
 
        
    
}
    @{
        ViewBag.Title = "UserDetails";
    }
    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(x=> x.UserId)
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <h2>User Details</h2>
            <div class="col-md-4" style="border: thin; border: solid">
                <div class="form-group" style="margin-top: 20px">
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName)
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName)
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(x => x.GradeLevel)
                    @Html.DropDownListFor(x=>x.GradeLevelId, listItems2)
                </div>
                <br/>
                <div class="form-group">
                    
                    @Html.LabelFor(x=>x.SuggestedRole)
                    @Html.DropDownListFor(x => x.SuggestedRole, listItems)
                   
                </div>
                <div class="row" style="margin-bottom:20px">
                    @Html.ActionLink("Cancel", "AdminDashboard")
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
